<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавление/Редактирование документа</title>
</head>
<body>
<h1>Добавление/Редактирование документа</h1>
<form>
    <label for="docNumber">Номер документа:</label>
    <input type="text" id="docNumber" name="docNumber"><br><br>

    <label for="docDate">Дата:</label>
    <input type="date" id="docDate" name="docDate"><br><br>

    <label for="docType">Тип документа:</label>
    <input type="text" id="docType" name="docType"><br><br>

    <input type="submit" value="Сохранить">
</form>
</body>
</html>
